@import url('__item/cards__item.css');
@import url('__title/cards__title.css');
@import url('__description/cards__description.css');
@import url('__image/crads__image.css');

.cards {
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
min-width: 920px;
list-style: none;
gap: 60px 100px;
}